/* SelectOption.css */

.select-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    appearance: none; /* Removes default select dropdown style */
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  option {
    padding: 10px;
  }
  